
.video-call-container {
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    display: flex;
    flex-direction: column;
    right: 0;
    top: 0;
}

.video-grid {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.video-item {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}

.video-element {
    width: 100%;
    height: auto;
    border-radius: 5px;
    transform: scaleX(-1);
}

.remote-video {
    width: 100%;
}

.local-video {
    width: 76px;
    height: 76px;
    /* position: absolute;
    bottom: 0px;
    right: 0px; */
    border: 2px solid white;
    border-radius: 5px;
}

.video-label {
    position: absolute;
    bottom: 5px;
    left: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 12px;
}

.controls {
    display: flex;
    justify-content: space-around;
    background-color: #444;
    border-top: 1px solid #555;
    align-items: center;
}

.controls button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls button:hover {
    color: #ddd;
}

.end-call-btn {
    color: red;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #aaa;
}

.waiting-message {
    text-align: center;
    font-size: 16px;
}

.hide{
    display: none;
}

@media (max-width: 768px) {
    .video-call-container {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 50%;
        height: auto;
        max-height: 30vh;
    }

    .video-grid {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 0.5rem;
    }

    .controls button {
        width: 36px;
        height: 36px;
        font-size: 1rem;
    }
} 